<h1>管理者側投稿一覧</h1>

<% @foods.each do |food| %>
<div>
  <%= link_to admin_food_path(food.id) do %>
    <%= image_tag food.get_image[0] %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag food.user.get_profile_image(100,100) %></p>
  <p>タイトル:<%= food.title %></p>
  <p>説明:<%= food.body %></p>
  <p>ユーザーネーム:<%= food.user.name %></p>
  <p>♥<%= food.favorites.count %> いいね</p>

  <%= link_to "#{food.comments.count} コメント", admin_food_path(food.id) %>
  <%= link_to "記事を削除", admin_food_path(food), method: :delete %>

</div>
<% end %>