<div class="food-content">
  <h2 class="food-title">投稿詳細</h2>
  
  <div class="food-box">
    <table>
      <td style="width: 150px">
        <%= link_to admin_user_path(@food.user) do %>
          <%= image_tag @food.user.get_profile_image(100,100) %>
        <% end %>
      </td>
      <td class="food-user-name"><%= @food.user.name %></td>
    </table>
    
    <div class="food-titles">
      <i class="fas fa-flag"></i> <%= @food.title %>
    </div>
    <div class="food-body">
      <i class="fas fa-map-marker-alt"></i>
        <%= @food.address %>
    </div>
    <div class="food-body">
      <i class="fas fa-book-open"></i> <%= @food.body %>
    </div>
    <div class="food-image">
      <% @food.images.each do |image| %>
        <%= image_tag(image, width:300) %>
      <% end %>
    </div>
    <div class="posted_date">
     <%= @food.created_at.strftime('%Y/%m/%d') %>
    </div>
      
    <table class="food-box1">
      
      <td style="width: 30%">
        ♥<%= @food.favorites.count %> いいね
      </td>
      
      <td style="width: 30%">
        コメント <i class="far fa-comment"></i>：<%= @food.comments.count %>
      </td>
    </table>
    
    <div class="food-edit-button">
      <%= link_to "記事を削除", admin_food_path(@food), method: :delete, class: "btn btn-outline-dark" %>
    </div>
    
    <div class="food-box2">
      
      <% @food.comments.each do |comment| %>
      <h3>コメント <i class="far fa-comment"></i></h3>
        <table>
          <td style="width: 120px">
            <%= image_tag comment.user.get_profile_image(100,100) %>
          </td>
          <td>
            <%= comment.user.name %>
          </td>
        </table>
        
        <div class="food-box3">
          <div>
            <%= comment.comment %>
          </div>
          <div class="posted_date">
            <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
          </div>
          <div class="posted_date">
            <%= link_to "削除", admin_food_comment_path(comment.food, comment), method: :delete, class: "btn btn-outline-dark" %>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
    
  </div>  
<div>
