<% foods.each do |food| %>

  <div class="">
    <div class="card">
      <%= link_to food_path(food.id) do %>
        <%= image_tag food.get_image[0], class:"card-img-top"; %>
      <% end %>
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <div class="profile-image">
            <%= link_to user_path(food.user) do %>
              <%= image_tag food.user.get_profile_image(100,100), class:"mt-3 rounded-circle"; %>
            <% end %>
            </div>
          </div>
          <div class="col-10">
            <p class="card-title">
              <%= link_to(food_path(food.id), class:"text-dark") do %>
                <strong><i class="far fa-flag"></i><span> <%= food.title %></span></strong>
              <% end %>
            </p>
            <p class="card-text"><i class="fas fa-map-marker-alt"></i> <%= link_to "#{food.address}", food_map_path(food), class:"text-dark" %></p>
            <%= safe_join(food.body.split("\n"),tag(:br)) %></p>
            <%= link_to(user_path(food.user), class:"text-dark") do %>
              <span><i class="fas fa-user"></i> By <%= food.user.name %> ｜ </span>
            <% end %>
            <span>
              <%= link_to "#{food.comments.count} コメント", food_path(food.id), class:"text-dark" %></span>
            <span>
              
              <div id="favorite_buttons_<%= food.id %>">
                <%= render 'public/favorites/favorite', food: food %>
              </div>
              
              <P>
                <%= food.created_at.strftime('%Y/%m/%d %H:%M') %>
              </P>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>