<div class="container">
  <%= notice %>
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">新規投稿フォーム</h5>
      <div class="form-body p-4">
        <% if @food.errors.any? %>
          <ul class="alert alert-danger" role="alert">
            <h6 class="alert-heading">
              <%= @food.errors.count %>件のエラーが発生しました
            </h6>
            <% @food.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <%= form_with model: @food, url:'/foods', local:true do |f| %>
          <%= f.file_field :images, multiple: true %>
          <p>画像は3枚までしか投稿できません</p>
          <!-- プレビュー用のimgタグを3つ準備。最初は何も表示されない。 -->
          <div>
            <img id="preview_0" style="width:30%;">
            <img id="preview_1" style="width:30%;">
            <img id="preview_2" style="width:30%;">
          </div>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-mug-hot"></i></span>
            </div>
            <%= f.text_field :title, class:"form-control", placeholder:"TITLE" %>
          </div>
          <%= f.text_area :body, class:"form-control", rows:"3", placeholder:"投稿内容を書いてね！" %>
          
          <div class="field my-3">
            <%= f.text_field :address, class:"form-control", placeholder:"よければお店の住所も教えて"  %>
          </div>
          
          <hr>
          <%= f.submit '投稿', class:"btn btn-lg btn-block btn-info mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>



<script>
$('#food_images').on('change', function (e) {

    if(e.target.files.length > 3){

      alert('一度に投稿できるのは3枚までです。');
      // 3枚以上の画像を選択していた場合、選択したファイルをリセット。
      $('#food_images').val = "";

      // 以前の画像のプレビューが残っていた場合は、
      // まだ画像選択できていると勘違いを誘発するため初期化。
      for( let i = 0; i < 3; i++) {
        $(`#preview_${i}`).attr('src', "");
      }

    }else{
      let reader = new Array(3);

      // 画像選択を二回した時、一回目より数が少なかったりすると画面上に残るので初期化
      for( let i = 0; i < 3; i++) {
        $(`#preview_${i}`).attr('src', "");
      }

      for(let i = 0; i < e.target.files.length; i++) {
        reader[i] = new FileReader();
        reader[i].onload = finisher(i,e); 
        reader[i].readAsDataURL(e.target.files[i]);

        // onloadは別関数で準備しないとfor文内では使用できないので、関数を準備。
        function finisher(i,e){
          return function(e){
          $(`#preview_${i}`).attr('src', e.target.result);
          }
        }
      }
   }
});
</script>