<div class="food-content">
  <h2 class="food-title">投稿詳細</h2>
  
  <div class="food-box">
    <table>
      <td style="width: 150px">
        <%= link_to user_path(@food.user) do %>
          <%= image_tag @food.user.get_profile_image(100,100) %>
        <% end %>
      </td>
      <td class="food-user-name"><%= @food.user.name %></td>
    </table>
    
    <div class="food-titles">
      <i class="fas fa-flag"></i> <%= @food.title %>
    </div>
    <div class="food-body">
      <i class="fas fa-map-marker-alt"></i>  
      <%= link_to food_map_path(@food), class:"text-dark" do %>
        <%= @food.address %>
      <% end %>
    </div>
    <div class="food-body">
      <i class="fas fa-book-open"></i> <%= @food.body %>
    </div>
    <div class="food-image">
      <% @food.images.each do |image| %>
        <%= image_tag(image, width:300) %>
      <% end %>
    </div>
    <div class="posted_date">
     <%= @food.created_at.strftime('%Y/%m/%d %H:%M') %>
    </div>
      
    <table class="food-box1">
      
      <td style="width: 30%">
        <!-- いいねボタン -->
        <div id="favorite_buttons_<%= @food.id %>">
          <%= render 'public/favorites/favorite', food: @food %>
        </div>
        
      </td>
      
      <td style="width: 30%">
        <%= link_to "コメント", new_food_comment_path(@food) %> <i class="far fa-comment"></i>：<%= @food.comments.count %>
      </td>
    </table>  
    
    <div class="food-edit-button">
      <!-- 投稿したuserにのみ表示 -->
      <% if @food.user == current_user %>
        <%= link_to "投稿編集", edit_food_path(@food.id), class: "btn btn-outline-dark" %>
      <% end %>
    </div>

    <div class="food-box2">
      
      <% @food.comments.each do |comment| %>
      <h3>コメント <i class="far fa-comment"></i></h3>
        <table>
          <td style="width: 120px">
            <%= link_to user_path(comment.user) do %>
              <%= image_tag comment.user.get_profile_image(100,100) %>
            <% end %>  
          </td>
          <td>
            <%= comment.user.name %>
          </td>
        </table>
        
        <div class="food-box3">
          <div>
            <%= comment.comment %>
          </div>
          <div class="posted_date">
            <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
          </div>
          <div class="posted_date">
            <% if comment.user == current_user %>
              <%= link_to "削除", food_comment_path(comment.food, comment), method: :delete, class: "btn btn-outline-dark" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    
  </div>  
<div>
  