<% users.each do |user| %>
    <table class="users-image">
      <tr>
        <td style="width: 200px">
          <%= link_to admin_user_path(user) do %>
            <%= image_tag user.get_profile_image(150,100) %>
          <% end %>
        </td>
      </tr>
    </table>
    <div class="users-name">
      User Name：
      <%= link_to admin_user_path(user), class:"text-dark" do %>
        <%= user.name %>
      <% end %>
    </div>
    <div class="users-introduction">
      UserID: <%= user.id %><br>
      登録日: <%= user.created_at.strftime('%Y/%m/%d') %><br>
      会員ステータス:
      <% if user.is_active == true %>
        有効
      <% else %>
        退会
      <% end %>
    </div>
    <hr>
  <% end %>
