<h1>管理者User一覧</h1>


<% @users.each do |user| %>

  <%= link_to admin_user_path(user) do %>
    <%= image_tag user.get_profile_image(100,100) %>
  <% end %>

　<p>UserID</p>
　<span><%= user.id %></span>
  <p>名前</p>
  <span>
    <%= link_to admin_user_path(user) do %>
      <%= user.name %>
    <% end %>
  </span>
  <p>登録日</p>
  <span><%= user.created_at %></span>
  <p>会員ステータス</p>
    <% if user.is_active == true %>
      <span>有効</span>
    <% else %>
      <span>退会</span>
    <% end %>

<% end %>