<% users.each do |user| %>
    <table class="users-image">
      <tr>
        <td style="width: 200px">
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_profile_image(150,100) %>
          <% end %>
        </td>
        <td class="users-follow">
          <!-- フォロー機能 -->
          <%= render 'public/relationships/follow', user: user %>
        </td>
      </tr>
    </table>
    <div class="users-name">
      User Name：<%= user.name %>
    </div>
    <div class="users-introduction">
      Introduction：<%= user.introduction %>
    </div>
    <% end %>