<h1>ユーザー詳細</h1>

<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>
  <h3><%= @user.introduction %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h3>フォロー中</h3>
  <%= link_to @user.followings.count, user_followings_path(@user) %>
  <h3>フォロワー</h3>
  <%= link_to @user.followers.count, user_followers_path(@user) %>

  <!-- いいね一覧 -->
  <%= link_to "いいねした投稿一覧ページへ飛ぶ", user_favorites_path(@user) %>

  <!-- フォロー機能 -->
  <% if current_user != @user%>
    <% if current_user.following?(@user) %>
      <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete %>
    <% else %>
      <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
    <% end %>
  <% end %>


  <!-- ゲストログインの場合は編集ボタンを表示しない -->
  <% if @user.name != "guestuser" %>
    <% if current_user == @user%>
      <p><%= link_to "プロフィール編集", edit_user_path(@user.id) %></p>
    <% end %>
  <% end %>
</div>

<!-- ユーザーの投稿一覧 -->

<% @foods.each do |food| %>
<div>
  <%= link_to food_path(food.id) do %>
    <%= image_tag food.get_image[0] %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag food.user.get_profile_image(100,100) %></p>
  <p>ショップ名：<%= food.title %></p>
  <p>説明：<%= food.body %></p>
  <p>ユーザーネーム：<%= food.user.name %></p>
</div>
<% end %>
