<header class="">
  <nav class="nav navbar-expand-md navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="col-4">
      <div class="ligin-text">
        <!--管理者がログインしているとき-->
        <% if admin_signed_in? %>
          <h3 class="admin-login">管理者がログインしています</h3>
        <% else %>
          <font class="top">
            <%= link_to root_path,class: 'nav-link text-dark' do %>
            <i class="fas fa-utensils"></i>DELICIOUSFOOD</font>
          <% end %>
        <% end %>
      </div>
    </div>
      
    <div class="col-7 ml-auto">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <!--ユーザーがログインしている時-->
        <% if user_signed_in? && current_user.name != "guestuser" %>
          <li>
            <%= link_to "マイページ", user_path(current_user.id), class: 'nav-link text-dark' %>
          </li>
          <li>
            <%= link_to "投稿一覧", foods_path, class: 'nav-link text-dark' %>
          </li>
          <li>
            <%= link_to "ユーザー一覧", users_path, class: 'nav-link text-dark' %>
          </li>
          <li>
            <%= link_to "新規投稿", new_food_path, class: 'nav-link text-dark' %>
          </li>
          <li>
            <%= link_to "ログアウト", users_sign_out_path, method: :delete, class: 'nav-link text-dark' %>
          </li>
        <!--ゲストがログインしているとき-->
        <% elsif user_signed_in? && current_user.name == "guestuser" %>
          <li>
            <%= link_to "マイページ", user_path(current_user.id), class: 'nav-link text-dark' %>
          </li>
          <li>
            <%= link_to '会員一覧', users_path, class: 'nav-link text-dark' %>
          </li>
          <li>
            <%= link_to "投稿一覧", foods_path, class: 'nav-link text-dark' %>
          </li>
          <li>
            <%= link_to "ログアウト", users_sign_out_path, method: :delete, class: 'nav-link text-dark' %>
          </li>
        <!--管理者がログインしているとき-->
        <% elsif admin_signed_in? %>
          <li>
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
          </li>
          <li>
            <%= link_to '会員一覧', admin_users_path, class: 'nav-link text-dark' %>
          </li>
          <li>
            <%= link_to '投稿一覧', admin_foods_path, class: 'nav-link text-dark' %>
          </li>
        <% else %>
        <!--ログインしていないとき-->
          <li>
            <%= link_to '新規登録', new_user_registration_path, class: 'nav-link text-dark' %>
          </li>
          <li>
            <%= link_to 'ログイン', user_session_path, class: 'nav-link text-dark' %>
          </i>
          <li>
            <%= link_to 'about', about_path, class: 'nav-link text-dark' %>
          </li>
          <li>
            <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: 'nav-link text-dark', method: :post %>
          </li>
        <% end %>
        </ul>
        <% if user_signed_in? || admin_signed_in? %> 
        <ul class="header-search navbar-nav">
          <li>
            <%= form_with url: search_path, local: true, method: :get do |f| %>
            <div class="search">
              <%= f.text_field :word %>
              <%= f.select :range, options_for_select([['User'], ['Food']]) %>
              <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
              <%= f.submit "検索", class: "btn btn-primary" %>
            </div>
            <% end %>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </nav>
</header>
